table{
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	repeat-header: yes;
}

th.tableHeaderCell{
	text-align: right;
	font-weight: bold;
}

th.tableHeaderCellSecondRow{
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
	height: 25px;
	
	border-bottom-width: 0.5pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;	
	
	border-top-width: 0.5pt;
	border-top-style: solid;
	border-top-color: #000000;
}

th.borderLeft{
	border-left-width: 0.5pt;
	border-left-style: solid;
	border-left-color: #000000;	
}

th.borderRight{
	border-right-width: 0.5pt;
	border-right-style: solid;
	border-right-color: #000000;
}

td.tableHeaderCellSecondRow{
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
	border-top-width: 1pt;
	border-top-style: solid;
	border-top-color: #000000;
}

td.simpleEntryCell{
	font-size: 10pt;
	text-align: left;
	border-left-width: 0.5pt;
	border-left-style: solid;
	border-left-color: #000000;	
}
td.borderRight{
	border-right-width: 0.5pt;
	border-right-style: solid;
	border-right-color: #000000;	
}

td.simpleEntryCellAmount{
	font-size: 10pt;
	text-align: right;
	border-left-width: 0.5pt;
	border-left-style: solid;
	border-left-color: #000000;	
}

td.simpleEntryCellCenter{
	font-size: 10pt;
	text-align: center;
	border-left-width: 0.5pt;
	border-left-style: solid;
	border-left-color: #000000;	
}

td.sumCell{
	font-size: 10pt;
	font-weight: bold;
	text-align: right;
	border-bottom-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-left-width: 0.5pt;
	border-left-style: solid;
	border-left-color: #000000;	
}

td.sumCellTitle{
	font-size: 10pt;
	font-weight: bold;
	text-align: right;
	border-bottom-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-left-width: 0.5pt;
	border-left-style: solid;
	border-left-color: #000000;	
}