<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AccBureau</display-name>
  <listener>
    <listener-class>eu.agileeng.accbureau.web.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>eu.agileeng.accbureau.web.AppStartupListener</listener-class>
  </listener>
  <servlet>
    <display-name>AccBureau</display-name>
    <servlet-name>AccBureau</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.AccBureau</servlet-class>
  </servlet>
  <servlet>
    <display-name>Accounting</display-name>
    <servlet-name>Accounting</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.Accounting</servlet-class>
  </servlet>
  <servlet>
    <display-name>PartyServlet</display-name>
    <servlet-name>PartyServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.PartyServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>CashServlet</display-name>
    <servlet-name>CashServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.CashServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>DocumentServlet</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.DocumentServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ETEBACImportServlet</display-name>
    <servlet-name>ETEBACImportServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.ETEBACImportServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SuppliersImportServlet</display-name>
    <servlet-name>SuppliersImportServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.SuppliersImportServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>InvoiceGuidesImportServlet</display-name>
    <servlet-name>InvoiceGuidesImportServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.InvoiceGuidesImportServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SocialServlet</display-name>
    <servlet-name>SocialServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.SocialServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>JcrServlet</display-name>
    <servlet-name>JcrServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.JcrServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>JcrUploadServlet</display-name>
    <servlet-name>JcrUploadServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.JcrUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FacturationServlet</display-name>
    <servlet-name>FacturationServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.FacturationServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>TableauDeBordServlet</display-name>
    <servlet-name>TableauDeBordServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.TableauDeBordServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>UtilityServlet</display-name>
    <servlet-name>UtilityServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.UtilityServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>MessagingServlet</display-name>
    <servlet-name>MessagingServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.MessagingServlet</servlet-class>
  </servlet>
<!-- 
  <servlet>
    <display-name>OperatorWebServiceInterface</display-name>
    <servlet-name>OperatorWebServiceInterface</servlet-name>
    <servlet-class>eu.agileeng.ws.operator.impl.OperatorWebServiceInterfaceImpl</servlet-class>
  </servlet>
 -->
  <servlet>
    <display-name>DematBoxServlet</display-name>
    <servlet-name>DematBoxServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.DematBoxServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>DmtboxServlet</display-name>
    <servlet-name>DmtboxServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.DmtboxServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>HealthCheckServlet</display-name>
    <servlet-name>HealthCheckServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.HealthCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>DocumentExportServlet</display-name>
    <servlet-name>DocumentExportServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.DocumentExportServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>BankServlet</display-name>
    <servlet-name>BankServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.BankServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SocialServletReport</display-name>
    <servlet-name>SocialServletReport</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.SocialServletReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccBureau</servlet-name>
    <url-pattern>/AccBureau</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Accounting</servlet-name>
    <url-pattern>/Accounting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PartyServlet</servlet-name>
    <url-pattern>/PartyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CashServlet</servlet-name>
    <url-pattern>/CashServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/DocumentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ETEBACImportServlet</servlet-name>
    <url-pattern>/ETEBACImportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppliersImportServlet</servlet-name>
    <url-pattern>/SuppliersImportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InvoiceGuidesImportServlet</servlet-name>
    <url-pattern>/InvoiceGuidesImportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SocialServlet</servlet-name>
    <url-pattern>/SocialServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JcrServlet</servlet-name>
    <url-pattern>/JcrServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JcrUploadServlet</servlet-name>
    <url-pattern>/JcrUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacturationServlet</servlet-name>
    <url-pattern>/FacturationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TableauDeBordServlet</servlet-name>
    <url-pattern>/TableauDeBordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/UtilityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessagingServlet</servlet-name>
    <url-pattern>/MessagingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperatorWebServiceInterface</servlet-name>
    <url-pattern>/OperatorWebServiceInterface</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DematBoxServlet</servlet-name>
    <url-pattern>/DematBoxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DmtboxServlet</servlet-name>
    <url-pattern>/DmtboxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HealthCheckServlet</servlet-name>
    <url-pattern>/HealthCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentExportServlet</servlet-name>
    <url-pattern>/DocumentExportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BankServlet</servlet-name>
    <url-pattern>/BankServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SocialServletReport</servlet-name>
    <url-pattern>/SocialServletReport</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>CouncilServlet</display-name>
    <servlet-name>CouncilServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.CouncilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouncilServlet</servlet-name>
    <url-pattern>/CouncilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinancialTransactionServlet</display-name>
    <servlet-name>FinancialTransactionServlet</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.FinancialTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinancialTransactionServlet</servlet-name>
    <url-pattern>/FinancialTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CefraForm</display-name>
    <servlet-name>CefraForm</servlet-name>
    <servlet-class>eu.agileeng.accbureau.web.CefraForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CefraForm</servlet-name>
    <url-pattern>/CefraForm</url-pattern>
  </servlet-mapping>
</web-app>